{# templates/gestion/panel.html.twig #}
{% extends 'gestion/base.html.twig' %}

{% block title %}Panel de Gesti贸n{% endblock %}

{% block topbar %}
  <strong>Bienvenido, {{ app.user.userIdentifier }}!</strong>
{% endblock %}

{% block body %}
  <h1> Panel de Gesti贸n</h1>
  <p>Desde aqu铆 puedes acceder a las distintas secciones de administraci贸n:</p>
  <ul>
    <li><a href="{{ path('user_index') }}">Gesti贸n de Usuarios</a></li>
    <li><a href="{{ path('post_index') }}">Gesti贸n de Posts</a></li>
    <li><a href="{{ path('comment_index') }}">Gesti贸n de Comentarios</a></li>
    <li><a href="{{ path('like_index') }}">Gesti贸n de Likes</a></li>
    <li><a href="{{ path('follow_index') }}">Gesti贸n de Seguidores</a></li>
    <li><a href="{{ path('message_index') }}">Gesti贸n de Mensajes</a></li>
  </ul>
{% endblock %}
